doctype html

html
	head
		title InvokIT
		meta(charset="utf-8")
		meta(name="description", content="InvokIT Udvikling - Skal du bruge en ekspert på dit IT projekt?")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		<!--[if lte IE 8]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
		<!--<![endif]-->

		//- FontAwesome
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

		//- Material Design Lite
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://code.getmdl.io/1.1.0/material.indigo-pink.min.css")

		//- Roboto font
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300')

		//- Our own stuff!
		link(rel="stylesheet", href="css/main.min.css")

	body
		main

			article#me.mdl-shadow--2dp
				header
					h1 Sebastian J&oslash;rgensen
					h2 Senior IT Developer

				.img
					img(src="images/sj.jpg")

				nav.mdl-grid
					.mdl-cell--2-col
						a#nav-linkedin.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect(href="https://www.linkedin.com/in/sebastianjoergensen", target="_blank")
							i.fa.fa-linkedin-square
						.mdl-tooltip(for="nav-linkedin") LinkedIn

					.mdl-cell--2-col
						a#nav-github.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect(href="https://github.com/InvokIT", target="_blank")
							i.fa.fa-github
						.mdl-tooltip(for="nav-github") GitHub

					.mdl-cell--2-col
						a#nav-cv.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect(href="http://storage.invokit.dk/SJ%20CV.pdf")
							i.fa.fa-file-pdf-o
						.mdl-tooltip(for="nav-cv") Hent CV

					.mdl-cell--2-col
						a#nav-contact.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect(href="#contact")
							i.fa.fa-envelope-o
						.mdl-tooltip(for="nav-contact") Kontakt

			article#contact.mdl-card.mdl-shadow--2dp
				header
					h1 Kontakt

				form.mdl-grid(action="http://formspree.io/sj@invokit.dk", method="post", target="_blank")

					div.mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--12-col.mdl-cell--6-col-desktop
						input.mdl-textfield__input(id="contact-name", type="text", name="name")
						label.mdl-textfield__label(for="contact-name") Navn...

					div.mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--12-col.mdl-cell--6-col-desktop
						input.mdl-textfield__input(id="contact-email", type="text", name="email")
						label.mdl-textfield__label(for="contact-email") E-mail...

					div.mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--12-col
						input.mdl-textfield__input(id="contact-subject", type="text", name="_subject")
						label.mdl-textfield__label(for="contact-subject") Emne...

					div.mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--12-col
						textarea.mdl-textfield__input(id="contact-message", name="message", rows="6")
						label.mdl-textfield__label(for="contact-message") Besked...

					input(type="text", name="_gotcha", style="display:none")
					button.mdl-button.mdl-js-button.mdl-js-ripple-effect(type="submit")
						span Send besked

			footer
				span.copyright
					&copy; InvokIT 2016

		//- Scripts
		script(defer, src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(defer, src="https://code.getmdl.io/1.1.0/material.min.js")
		script(defer, src="js/main.min.js")
